<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/removeUser" enctype="multipart/form-data" method="post">

    <input name="idUser" type="text" placeholder="Enter idUser...."> <br>
<!--    <input name="name" type="text" placeholder="Enter name...."> <br>-->
<!--    <input name="address" type="text" placeholder="Enter address...."> <br>-->
<!--    <input name="age" type="text" placeholder="Enter age...."> <br>-->
<!--    <input name="phoneNumber" type="text" placeholder="Enter phoneNumber...."> <br>-->
<!--    <input name="avatar" type="file"> <br>-->
    <button type="submit">Remove</button><br>
</form>